.row div {
    /* margin-top: 10px; */
    padding: 12px;
    /* border: 1px solid black; */
    justify-content: center;
    /* background-color: #0c2461; */
}

.top {
    background-color: #0c2461;
    display: none;
}
#top3{
    background-color: #0c2461;
    color: whitesmoke;
}
@media (max-width:650px) {

    #top5,
    #top6 {
        width: 100%;
        display: block;
        text-align: center;
        display: flex;
        align-content: center;
        font-size: 30px;
        color: whitesmoke;
        align-items:center;
    }
}
@media(min-width:651px) {

    #top5,
    #top6 {
        width: 100%;
        display: none;
    }
    #top1,
    #top2,
    #top3,
    #top4 {
        text-align: center;
        display: flex;
        align-content: space-around;
        font-size: 3em;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
.navbar-expand-md .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    margin: 0px 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ffffff;
    color: black;
    padding: 6px;
    /* font-size: 50px; */
}

.foot div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body li {
    color: whitesmoke;
    font-size: 20px;
    ;
}
.con h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.notify li {
    padding: 10px;
}

.con {
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 8px;
    margin-left: 10px;
    border: 2px solid rgb(0, 0, 0);
}